doctype html
html
  head
    title= name + 's FilebLOG'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset='utf-8')
  body
    header(id='head')
      h1(id='title')= name
    article(id='article')
      div(class="contents")
        header(class="contentsHeader")
          h2(class="contentsTitle")
          h3(class="contentsTime")
        p(class="contentsDescription")
        p(class="contentsFiles")
    footer(id="foot")
      span(id="information")