html
    head
        title Your FileBlog, F.LOG
        meta(charset="utf-8")
    body
        div(id='body')
            header(id='head')
                h1(id='title') F.Log homepage
            article(id='article')
                div(id="contents")
                header(class="contentsHeader")
                    h2(class="contentsTitle") contentsTitle
                p(class="contentsDescription")  contentsDescription
            footer(id="foot")
            span(id="information") developed by JinhyeokBang