html
    head
        title Your FileBlog, F.LOG
        meta(charset="utf-8")
    body
        div(id='body')
            article(id='article')
                div(id="contents")
                    form(id="signin" action="../User" method="post")
                        input(id="id" name="id")
                        input(id="pass" name="pass")
                        input(type="submit" value="submit")
            footer(id="foot")
            span(id="information") developed by JinhyeokBang