html
    head
        title Your FileBlog, F.LOG
        meta(charset="utf-8")
    body
        div(id='body')
            article(id='article')
                div(id="contents")

            footer(id="foot")
            span(id="information") developed by JinhyeokBang