html
  head
    title wrong!
    meta(charset="utf-8")
    link(rel='stylesheet', href='/stylesheets/error.css')
  body
    h1 로그인 오류
    h2 아이디나 비밀번호를 틀렸습니다!!
    img(src="http://m1.daumcdn.net/cfile202/image/26548A3752E0CEC82691CB")