body {
  margin: 0px;
  border-bottom: 5px solid rgb(200, 200, 200);
}

#head {
  width: 100%;
  height: 30px;
  background-color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(200, 200, 200);
  box-shadow: 5px 5px 5px rgb(144, 144, 144);
}

#title {
  text-align: center;
  border: 0px;
}

#article {
  margin-top: 10px;
}

#foot {
  width: 100%;
  height: 20px;
  background-color: rgb(126, 126, 126);
}

#information {
  text-align: center;
}

.contents {
  background-color: rgb(180, 180, 180);
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  box-shadow: 5px 5px 5px rgb(144, 144, 144);
}

.contentsHeader {
  background-color: rgb(162,162,162);
}

.contentsTitle {
  text-align: center;
}

.contentsTime {

}

.contentsDescription {
  
}

.contentsFiles {

}